:root {
    /* Colors obtained using https://color.adobe.com/ */
    --alt-color-2: rgba(66, 181, 219, 1);
    --dominant-color : rgba(26, 38, 1, 1); 
    --secondary-color : rgba(119, 140, 43, 1); 
    --tertiary-color  : rgba(140, 135, 69, 1); 
    --alt-color-1 : rgba(191, 133, 99, 1); 
    --white : rgba(255 , 255 , 255, 1);
    --black : rgba(0, 0, 0, 1);
}

html, body {
    width: 100%;
    height: 100%;
}

p, h2, h3 {
    cursor: default;
}
button {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    box-sizing: border-box;
}

.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.8vw;
    font-family: 'Gloria Hallelujah', cursive;
    color: var(--white);
    border-bottom: 0.083em solid var(--alt-color-1);
    background-color: var(--dominant-color);
    width: 100%;
    height: 15%;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.083em solid var(--alt-color-1);
    width: 100%;
    height: 100%;
}
.question-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 2%;
    height: 20%;
    font-size: 2vw;
    flex: 1;
    background-color: var(--dominant-color);
    color: var(--white);
    border: 0.083em solid var(--alt-color-1);
}

.answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 20%;
    flex: 2;
    color: var(--white);
}

.answer-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}
.answer-image { 
    color: var(--white);
    font-size: 2vw;
    text-shadow: 0 .2vw 0 black;
    transition: all .5s;
    border-color: var(--alt-color-1);
    width: 25%;
    height: 90%;
}
.answer-text {
    background-color: var(--dominant-color);
    color: var(--white);
    font-size: 2vw;
    transition: all .5s;
    border-color: var(--alt-color-1);
    width: 30%;
    height: 60%;
}
.question.question-1 {
    background-image: url(images/menu.jpg);
    background-size: 100% 100%;
}

#q1-a1 {
    background-image: url(images/salad.jpg);
    background-size: 100% 100%;
}
#q1-a2 {
    background-image: url(images/ma-thayers.jpg);
    background-size: 100% 100%;
}
#q1-a3 {
    background-image: url(images/world-view.jpg);
    background-size: 100% 100%;
}
#q1-a4 {
    background-image: url(images/pizza.jpg);
    background-size: 100% 100%;
}

.question.question-2 {
    background-image: url(images/friends.jpg);
    background-size: 100% 100%;
}
.question.question-3 {
    background-image: url(images/cafe.jpg);
    background-size: 100% 100%;
}

#q3-a1 {
    background-image: url(images/sushi.jpg);
    background-size: 100% 100%;
}
#q3-a2 {
    background-image: url(images/pasta.jpg);
    background-size: 100% 100%;
}
#q3-a3 {
    background-image: url(images/stir-fry.jpg);
    background-size: 100% 100%;
}
#q3-a4 {
    background-image: url(images/smoothie.jpg);
    background-size: 100% 100%;
}
.question.question-4 {
    background-image: url(images/night.jpg);
    background-size: 100% 100%;
}
.question.question-5 {
    background-image: url(images/restaurant.jpg);
    background-size: 100% 100%;
}

#q5-a1 {
    background-image: url(images/breakfast-2.jpg);
    background-size: 100% 100%;
}
#q5-a2 {
    background-image: url(images/lunch.jpg);
    background-size: 100% 100%;
}
#q5-a3 {
    background-image: url(images/dinner.jpg);
    background-size: 100% 100%;
}
#q5-a4 {
    background-image: url(images/late-night.jpg);
    background-size: 100% 100%;
}
.question.question-6 {
    background-image: url(images/breakfast-1.jpg);
    background-size: 100% 100%;
}


.answer-text:hover {
    background-color: var(--alt-color-2);
}

.answer-text:active {
    background-color: var(--alt-color-2);
}

